<div class="list_main_content">

  <div class="product_navigation container-fluid">
    <div class="row">
      <div class=" col-sm-12">
        <span>Start</span><span>Cosmetic and Beauty</span><span>Sun</span><span>Solar Protection</span>
      </div>
    </div>
  </div>

  <div class="controlsContainer">
      <div class="list_title">
        <div class="boxedCheckbox">
          <input type="checkbox" name="name" id="checkAll">
          <label for="checkAll"></label>
        </div>
        <div class="list_title_text">
          <i class="fa fa-angle-left list_title_text_controls"></i>
          <div class="list_title_text_inner"><h2>Facial Protection</h2></div>
          <i class="fa fa-angle-right list_title_text_controls"></i>
        </div>
      </div>
      <div class="list_controls">

          <div class="sortFor">
            <span>Sort For</span>
            <form action="" method="">
              <select>
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="option1">Option1</option>
                <option value="option2">Option2</option>
              </select>
              <button type="submit"><i class="fa fa-sort-amount-asc"></i></button>
            </form>

          </div>
          <div class="viewAs">
            <span>View as</span>
              <span>
                <input type="radio" name="view" value="1" id="galleryView">
                <label for="galleryView"><i class="fa fa-th-large" aria-hidden="true"></i></label>
              </span>
              <span>
                <input checked type="radio" name="view" value="1" id="listView">
                <label for="listView"><i class="fa fa-list" aria-hidden="true"></i></label>
              </span>
          </div>
          <div class="zoomRange">
            <input type="range" id="zoomRangeInput" value="10" min="5" max="20">
            <!-- <span id="zoomRangeValue">10</span> -->
            <input type="text" name="zoomRangeValue" id="zoomRangeValue" value="10">
          </div>
          <div class="dualPanel">
            <span>
              <input checked type="radio" name="dualPanel" value="1" id="singlePanelView">
              <label for="singlePanelView"><i class="fa fa-bars" aria-hidden="true"></i></label>
            </span>
            <span>
              <input type="radio" name="dualPanel" value="1" id="dualPanelView">
              <label for="dualPanelView"><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-bars" aria-hidden="true"></i></label>
            </span>
          </div>
          <div class="mainCart">
            <p><i class="fa fa-opencart" aria-hidden="true"></i><span>ADD TO CART</span></p>
          </div>
          <img id="toolBox" src="assets/images/brqx_2017_toolbox_128.png" alt="">

      </div>

  </div>


  <div class="product_list">
    <form action="" method="">

      <div class="single_product">
          <div class="checkboxWithPimage">
            <div class="boxedCheckbox">
              <input class="allProductCheckbox" type="checkbox" name="productID-selectBox" id="productID1">
              <label for="productID1"></label>
            </div>
            <img src="assets/images/single_product.jpg" alt=""/>
          </div>

          <div class="productText">
            <div class="pName responsiveText"><p><a href="">A very very Long product name with extended behaviour</a></p></div>

            <div class="pDescription responsiveText">
              <p>Product Description</p>
            </div>
            <div class="TextField1 responsiveText"><p>textField_01</p></div>
            <div class="TextField2 responsiveText"><p>textField_02</p></div>
            <div class="mainCart"><label for="cartfilled-id01"><p><i class="fa fa-opencart" aria-hidden="true"></i><span>ADD TO CART</span></p></label></div>
            <div class="pQuantity">
              <select name="quantity-id" id="quantity-id">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="5">05</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="pPrice"><p><span>978</span>$</p></div>
          </div> <!-- productText -->

          <div class="checkedImage">
            <div class="cartfilled">
              <input type="checkbox" name="cartfilled-id01" id="cartfilled-id01" >
              <img src="assets/images/brqx_2017_cart_filled_256.png" alt=""/>
            </div>
            
            <i class="fa fa-pencil-square-o editButton" aria-hidden="true"></i>

          </div>
      </div> <!-- Single Product -->
      
      <div class="single_product">
          <div class="checkboxWithPimage">
            <div class="boxedCheckbox">
              <input class="allProductCheckbox" type="checkbox" name="productID-selectBox" id="productID1">
              <label for="productID1"></label>
            </div>
            <img src="assets/images/single_product.jpg" alt=""/>
          </div>

          <div class="productText">
            <div class="pName responsiveText"><p><a href="">A very very Long product name with extended behaviour</a></p></div>

            <div class="pDescription responsiveText">
              <p>Product Description Product Description</p>
            </div>
            <div class="TextField1 responsiveText"><p>textField_01</p></div>
            <div class="TextField2 responsiveText"><p>textField_02</p></div>
            <div class="mainCart"><label for="cartfilled-id02"><p><i class="fa fa-opencart" aria-hidden="true"></i><span>ADD TO CART</span></p></label></div>
            <div class="pQuantity">
              <select name="quantity-id" id="quantity-id">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="5">05</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="pPrice"><p><span>978</span>$</p></div>
          </div> <!-- productText -->

          <div class="checkedImage">
            <div class="cartfilled">
              <input type="checkbox" name="cartfilled-id02" id="cartfilled-id02" >
              <img src="assets/images/brqx_2017_cart_filled_256.png" alt=""/>
            </div>
            <i class="fa fa-pencil-square-o editButton" aria-hidden="true"></i>
          </div>
      </div> <!-- Single Product -->
      
      <div class="single_product">
          <div class="checkboxWithPimage">
            <div class="boxedCheckbox">
              <input class="allProductCheckbox" type="checkbox" name="productID-selectBox" id="productID1">
              <label for="productID1"></label>
            </div>
            <img src="assets/images/single_product.jpg" alt=""/>
          </div>

          <div class="productText">
            <div class="pName responsiveText"><p><a href="">A very very Long product name with extended behaviour</a></p></div>

            <div class="pDescription responsiveText">
              <p>Product Description</p>
            </div>
            <div class="TextField1 responsiveText"><p>textField_01 textField_01</p></div>
            <div class="TextField2 responsiveText"><p>textField_02</p></div>
            <div class="mainCart"><label for="cartfilled-id03"><p><i class="fa fa-opencart" aria-hidden="true"></i><span>ADD TO CART</span></p></label></div>
            <div class="pQuantity">
              <select name="quantity-id" id="quantity-id">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="5">05</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="pPrice"><p><span>978</span>$</p></div>
          </div> <!-- productText -->

          <div class="checkedImage">
            <div class="cartfilled">
              <input checked="true" type="checkbox" name="cartfilled-id03" id="cartfilled-id03" >
              <img src="assets/images/brqx_2017_cart_filled_256.png" alt=""/>
            </div>
            <i class="fa fa-pencil-square-o editButton" aria-hidden="true"></i>
          </div>
      </div> <!-- Single Product -->
      
      <div class="single_product">
          <div class="checkboxWithPimage">
            <div class="boxedCheckbox">
              <input class="allProductCheckbox" type="checkbox" name="productID-selectBox" id="productID1">
              <label for="productID1"></label>
            </div>
            <img src="assets/images/single_product.jpg" alt=""/>
          </div>

          <div class="productText">
            <div class="pName responsiveText"><p><a href="">A very very Long product name with extended behaviour</a></p></div>

            <div class="pDescription responsiveText">
              <p>Product Description</p>
            </div>
            <div class="TextField1 responsiveText"><p>textField_01</p></div>
            <div class="TextField2 responsiveText"><p>textField_02 textField_02 textField_02</p></div>
            <div class="mainCart"><label for="cartfilled-id04"><p><i class="fa fa-opencart" aria-hidden="true"></i><span>ADD TO CART</span></p></label></div>
            <div class="pQuantity">
              <select name="quantity-id" id="quantity-id">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="5">05</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="pPrice"><p><span>978</span>$</p></div>
          </div> <!-- productText -->

          <div class="checkedImage">
            <div class="cartfilled">
              <input type="checkbox" name="cartfilled-id04" id="cartfilled-id04" >
              <img src="assets/images/brqx_2017_cart_filled_256.png" alt=""/>
            </div>
            <i class="fa fa-pencil-square-o editButton" aria-hidden="true"></i>
          </div>
      </div> <!-- Single Product -->
      
      


    </form>
  </div>
</div>
