<div class="container-fluid">
  <div class="row">
    <div id="labeled-product-slider" class="col-11">
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
      <div class="single-labeled-product">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">Top Rated</p>
        <div class="shortDescription">
          <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
          <p class="price">
            <s class="old">2.07$</s>
            <span class="new">2.07$</span>
          </p>
        </div>
        <div class="longDescription">
          <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
          <div class="ValuableInfo">
            <div class="rating">
              <star-rating 
                  [starType]="'svg'" 
                  [rating]="4.2" 
                  [showHalfStars]="true" 
                  [readOnly]="true" 
                  staticColor="ok"
                  labelText="4.2"
                  labelPosition="right"
                  >
                </star-rating>
            </div>
            <p class="price">
              <s class="old">2.07$</s>
              <span class="new">2.07$</span>
            </p>
          </div>
          <div class="atcButton">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Add to Cart</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>