<div class="container-fluid" id="component-wrapper">
  <div class="row">
    <i class="fa fa-chevron-circle-left sliderControls" (mouseover)="slideLeft()"></i>
    <div id="labeled-product-slider" class="col-11">
      <div class="single-labeled-product" #labeledSlider *ngFor="let product of products">
        <img class="productImage" src="assets/images/product-1.jpg" alt="">
        <p class="label">{{product.label}}</p>
        <div class="cartfilled">
          <input type="checkbox" name="cartfilled-id-{{product.id}}" id="cartfilled-id-{{product.id}}">
          <img src="assets/images/brqx_2017_cart_filled_256.png" alt="" />
        </div>
        <div class="gridViewText">
        <div class="normalView">
          <p class="pNname" [TextLimit]="28">{{product.name}}</p>
          <p>
            <span class="pNoldPrice">{{product.oldPrice}}$</span>
            <span class="pNnewPrice">{{product.price}}$</span>
          </p>
        </div>
        <div class="extendedView">
          <p class="pEname">
            <a href="">{{product.name}}</a>
          </p>
          <p class="pEprice">
            <span class="pEoldPrice">{{product.oldPrice}} $</span>
            <span class="pEnewPrice">{{product.price}} $</span>
          </p>
          <div class="pErating">
            <!-- <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <span>{{product.rating}}</span> -->
              <star-rating 
              [starType]="'svg'" 
              [rating]="(product.rating/20).toFixed(2)" 
              [showHalfStars]="true" 
              [readOnly]="true" 
              staticColor="ok"
              labelText="{{product.rating}}"
              labelPosition="right"
              >
            </star-rating>
          </div>
          <div class="pEaddToCart">
            <label for="cartfilled-id-{{product.id}}">
              <p>
                <i class="fa fa-opencart" aria-hidden="true"></i>
                <span>ADD TO CART</span>
              </p>
            </label>
          </div>
        </div>
      </div>
      </div>
      
    </div>
    <i class="fa fa-chevron-circle-right sliderControls" (mouseover)="slideRight()"></i>
  </div>
</div>