<div id="wrapper">
  <p id="activateIcon">
    <i class="fa fa-user"></i>
  </p>

  <div id="all-options">
    <!-- <i (mouseleave)="slideStop(upbtn)" (mouseover)="slideUp(upbtn)" #upbtn class="fa fa-angle-up"></i> -->
    <ul class="optionsContainer sliderContainer">

      <li>
        <a>
          Login
          <!-- <span class="currencyFull">{{currency?.full}}</span> -->
        </a>
      </li>

      <li>
        <a href="">Register</a>
      </li>
      <li>
        <a href="">Option3</a>
      </li>

    </ul>
    <!-- <i (mouseleave)="slideStop(downbtn)" (mouseover)="slideDown(downbtn)" #downbtn class="fa fa-angle-down"></i> -->
  </div>
</div>