<nav>
  <div id="mainMenuToggleButton">
    <i class="fa fa-bars"></i>
  </div>

  <div class="logo">
    <a [routerLink]='["/"]'>Pharmachy</a>
  </div>

  <div class="mainMenu">
    <div class="responsiveMenuHeader">
      <h4>Pharmachy Menu</h4>
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <i [hidden]="!isDesktop" class="sliderControls fa fa-angle-left"></i>
    <i [hidden]="isDesktop" class="sliderControls fa fa-angle-up"></i>
    <ul class="sliderContainer">

      <li #mainMenu *ngFor="let menu of menus" [class.pullDownItem]="menu.pulldown">
        <a [routerLink]='[menu.link]'>{{menu.item}}</a>

        <div *ngIf="menu.pulldown" class="pullDown">
          <div class="pullDownContainer">
            <i class="sliderControls fa fa-angle-up"></i>
            <i class="sliderControls fa fa-angle-left"></i>
            <ul class="sliderContainer">

              <li *ngFor="let seclvl of menu.pulldown">
                <a href="{{seclvl.link}}">{{seclvl.item}}</a>

                <div *ngIf="seclvl.thirdLvl" class="third-lvl-menu">
                  <i class="sliderControls fa fa-angle-up"></i>
                  <ul class="sliderContainer">
                    <li *ngFor="let thrdlvl of seclvl.thirdLvl">
                      <a href="{{thrdlvl.link}}">{{thrdlvl.item}}</a>
                    </li>
                  </ul>
                  <i class="sliderControls fa fa-angle-down"></i>
                </div>
              </li>
            </ul>
            <i class="sliderControls fa fa-angle-down"></i>
            <i class="sliderControls fa fa-angle-right"></i>
          </div>
          <div class="pullDownMeta">
            <i *ngIf="menu.pulldown[0].thirdLvl" class="expandButton fa fa-plus-circle"></i>
            <i class="fa fa-asterisk"></i>
            <h2>{{menu.item}}</h2>
          </div>
        </div>
        <i *ngIf="menu.pulldown" class="fa fa-plus-circle"></i>
      </li>

    </ul>
    <i [hidden]="!isDesktop" class="sliderControls fa fa-angle-right"></i>
    <i [hidden]="isDesktop" class="sliderControls fa fa-angle-down"></i>
  </div>

  <div class="nav-right">
    <ul>
      <li>
        <curency-selector></curency-selector>
      </li>
      <!-- <li>
        <a href="#">
          <i class="fa fa-search"></i>
        </a>
      </li> -->
      <li>
        <app-cart-drop-down></app-cart-drop-down>
      </li>
      <li>
        <user-drop-down></user-drop-down>
      </li>
      <li id="lang">
        <language-selector></language-selector>
      </li>
    </ul>
  </div>

</nav>