<div id="wrapper">
  <p id="activateIcon"><i class="fa fa-user"></i></p>

  <div id="all-options">
    <!-- <i (mouseleave)="slideStop(upbtn)" (mouseover)="slideUp(upbtn)" #upbtn class="fa fa-angle-up"></i> -->
    <ul class="optionsContainer sliderContainer">
      <li *ngFor="let item of userDropDown">
        <a href="item.link">
          <i class="fa {{ item.icon }}"></i> <span>{{ item.item }}</span>
        </a>
      </li>
    </ul>
    <!-- <i (mouseleave)="slideStop(downbtn)" (mouseover)="slideDown(downbtn)" #downbtn class="fa fa-angle-down"></i> -->
  </div>
</div>
