/* Currency */

#wrapper{
    position: relative;
    padding: 2px 8px 8px 5px;
    border-radius: 4px 4px 0 0;
}

#wrapper:hover{
    background: #F36438;
}

#wrapper:hover #activateIcon{
    color: #fff;
}


#activateIcon{
    margin: 0;
}


#activateIcon span, .optionsContainer span{
    margin-left: 7px;
}

#all-options{
    position: absolute;
    left: 0;
    top: 24px;
    height: auto;
    width: max-content;
    z-index: 5;
    display: none;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid #F36438;
    border-radius: 0 4px 4px 4px;
    
}
#wrapper:hover #all-options{
    display: flex;
}

#all-options i{
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
}


.optionsContainer{
    overflow: hidden;
    padding: 0 2px;
}


.optionsContainer li a {
    padding: 5px 8px;
    display: block;
    color: #000;
    margin: 2px 0;
    border-radius: 4px;
    transition: .3s;
}

.optionsContainer li:hover a, .optionsContainer li.active a{
    background-color: #ddd;
    color: #F36438;
    cursor: pointer;
}



/* 4k */
@media only screen and (min-width: 2100px) {
    #all-options{
        top: 46px;
        height: auto;
        padding: 8px;
    }

    #all-options i {
        font-size: 65px
    }
}

@media only screen and (max-width: 1700px) {
    /* #activateIcon span{
        display: none;
    } */
    
    
}

/* tablet */
@media only screen and (max-width:1024px) {
    .optionsContainer li a span{
        display: none;
    }
}

/* mobile */
@media only screen and (max-width: 767px){
    .currencyFull{
        display: none;
    }
    #wrapper{
        padding: 2px 5px 5px 5px;
    }
}