<i class="fa fa-user"></i>
<i class="fa fa-user"></i>
<i class="fa fa-user"></i>
<i class="fa fa-user"></i>
<i class="fa fa-user"></i>

<div id="fontSize">
  <i (click)="increaseFontsize()" class="fa fa-angle-up"></i>
  <span>A+ a-</span>
  <i (click)="decreaseFontsize()" class="fa fa-angle-down"></i>
</div>
<i class="fa fa-user" id="keyboard"></i>
<div id="scroll">
  <i class="fa fa-angle-up"></i>
  <i class="fa fa-angle-down"></i>
</div>




<div id="close" (click)="hide()">
  <div class="bar"></div>
  <div class="bar"></div>
</div>