<div id="wrapper">
  <p id="activateIcon">
    <i class="fa fa-shopping-cart"></i>
  </p>

  <div id="all-options">
    <!-- <i (mouseleave)="slideStop(upbtn)" (mouseover)="slideUp(upbtn)" #upbtn class="fa fa-angle-up"></i> -->
    <ul class="optionsContainer sliderContainer">

      <li>
        <a>
          <i class="fa fa-eye"></i>
          <span>Show</span>
          <!-- <span class="currencyFull">{{currency?.full}}</span> -->
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-save"></i>
          <span>Save</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-trash"></i>
          <span>Empty</span>
        </a>
      </li>

    </ul>
    <!-- <i (mouseleave)="slideStop(downbtn)" (mouseover)="slideDown(downbtn)" #downbtn class="fa fa-angle-down"></i> -->
  </div>
</div>