<div class="homePage">
  <div class="overlay">

    
    <div class="verticalLeftSlider"> <!-- Left Vertical Slider start -->

        <i class="fa fa-angle-up sliderControls" aria-hidden="true"></i>
        <ul class="sliderContainer">
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-wheelchair" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-wheelchair" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <i class="fa fa-angle-down sliderControls" aria-hidden="true"></i>

    </div> <!-- Left Vertical Slider End -->


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="promoSlider">
            <div id="promoSliderNav">
              <div class="promoNavItem"><p>Cosmetics</p></div>
              <div class="promoNavItem"><p>Nutritions</p></div>
              <div class="promoNavItem"><p>Herbalist</p></div>
              <div class="promoNavItem"><p>Hygene</p></div>
              <div class="promoNavItem"><p>Orthopedics</p></div>
              <div class="promoNavItem"><p>Perfumery</p></div>
              <div class="promoNavItem"><p>Optics</p></div>
              <div class="promoNavItem"><p>DemoOption</p></div>
              <div class="promoNavItem"><p>DemoOption</p></div>
              <div class="promoNavItem"><p>DemoOption</p></div>
            </div>
      
            <div id="promoSliderGalery">
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 2</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 3</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 4</h2>
                <span>2018</span>
              </div>
              
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 5</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 6</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 7</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 8</h2>
                <span>2018</span>
              </div>
        
              <div class="galleryImgContiner" style="background-image: url('../../assets/images/banner.jpg')">
                <p>La Semana de la</p>
                <h2>Farmacia 9</h2>
                <span>2018</span>
              </div>
        
        
            </div>
          </div>
        </div>
      </div>
    </div>




    
    

  </div>
</div>