<div class="homePage" style="background: url('assets/images/bg.jpg') center no-repeat; background-size: cover;">
  <div class="overlay">


    <div class="verticalLeftSlider">
      <!-- Left Vertical Slider start -->

      <i class="fa fa-angle-up sliderControls" aria-hidden="true"></i>
      <ul class="sliderContainer">
        <li *ngFor="let item of leftNav">
          <a href="{{item?.link}}">
            <i class="fa {{item.icon}}" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <i class="fa fa-angle-down sliderControls" aria-hidden="true"></i>

    </div> <!-- Left Vertical Slider End -->


    <div class="container responsiveGlitch">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="promoGalary" class="promoSlider">
            <div id="promoSliderNav">
              <div *ngFor="let menu of promoGalary" class="promoNavItem">
                <p>{{ menu.item }}</p>
              </div>
            </div>

            <div id="promoSliderGalery">
              <div #promoSlider *ngFor="let menu of promoGalary" class="galleryImgContiner" [ngStyle]="{'background-image': 'url(' + menu.imageURL +')'}">
                <p>{{ menu.metaP }}</p>
                <h2>{{ menu.metaH2 }}</h2>
                <span>{{ menu.metaSpan }}</span>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="productSlider row">
        <div #promoProducts *ngFor="let item of promoProducts" class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="{{item.pImage}}" alt="">
            <div class="shortDescription">
              <p class="productTitle">{{item.name}}</p>
              <p class="price"><s class="old">{{item.oldPrice}}$</s><span class="new">{{item.price}}$</span></p>
            </div>
            <div class="longDescription">
              <a href='{{item.link}}' class="productTitle">{{item.name}}</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">{{item.oldPrice}}$</s><span class="new">{{item.oldPrice}}$</span></p>
              </div>
              <div class="atcButton">
                <a href="{{item.cartLink}}">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- <star-rating [starType]="'svg'" [rating]="3.5" [showHalfStars]="true" [readOnly]="true"></star-rating> -->

<!-- <p
  [TextLimit]="36"
>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum corrupti enim repellat exercitationem ducimus? Possimus quos voluptatibus veritatis quo, illum tenetur, soluta maxime odit, aliquam dignissimos libero iure ex tempore quas fuga inventore! Mollitia odit laudantium, magni totam ipsa consectetur!</p> -->