<div class="homePage">
  <div class="overlay">

    
    <div class="verticalLeftSlider"> <!-- Left Vertical Slider start -->

        <i class="fa fa-angle-up sliderControls" aria-hidden="true"></i>
        <ul class="sliderContainer">
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-wheelchair" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-wheelchair" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <i class="fa fa-angle-down sliderControls" aria-hidden="true"></i>

    </div> <!-- Left Vertical Slider End -->


    <div class="container responsiveGlitch">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="promoGalary" class="promoSlider">
            <div id="promoSliderNav">
              <div  
                *ngFor="let menu of promoGalary"
                class="promoNavItem"
              ><p>{{ menu.item }}</p></div>
            </div>
      
            <div id="promoSliderGalery">
              <div
                #promoSlider
                *ngFor="let menu of promoGalary"
                class="galleryImgContiner" 
                [ngStyle]="{'background-image': 'url(' + menu.imageURL +')'}">
                <p>{{ menu.metaP }}</p>
                <h2>{{ menu.metaH2 }}</h2>
                <span>{{ menu.metaSpan }}</span>
              </div>
        
            </div>
          </div>
        </div>
      </div>

      <div class="productSlider row">
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 singleProduct">
          <div class="singleProductInner">
            <img class="productImage" src="assets/images/product.jpg" alt="">
            <div class="shortDescription">
              <p class="productTitle">Alcohol Interapothek Heridline 1000 ml</p>
              <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
            </div>
            <div class="longDescription">
              <a href='#' class="productTitle">Alcohol Interapothek Heridline 1000 ml</a>
              <div class="ValuableInfo">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>37</span>
                </div>
                <p class="price"><s class="old">2.07$</s><span class="new">2.07$</span></p>
              </div>
              <div class="atcButton">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Add to Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>